<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <meta name="viewpoint" content="width=device-width,intial-scale=1.0">
        <title>Document</title>
    </head>

    <style>
        h1{
            color:red ;
        }
        h2{
            color:blueviolet;
        }
        p{
            color:orangered;
        }
        body{
            background-color: rgb(0, 211, 130);
        }
        .sub{
            color: blue;
        }
        .res{
            color:red;
        }
        #submit{
            color:green;
        }
        #reset{
            color: mediumvioletred;
        }

    </style>
    <body>
        <h1>This is heading</h1>
        <h1>This is heading</h1>
        <h1>This is heading</h1>
        <h1>This is heading</h1>


        <br>
        <h2>This is a sub heading</h2>
        <p>css selectors are pattrens used to select and style HTML elements on a we page</p>
       <button class="sub" id="submit">submit 1</button>
       <button class="sub">submit 2</button>
       <button class="sub" id="submit">submit 3</button>
       <button class="sub">submit 4</button>
       <button class="res" id="reset">reset 5</button>
       <button class="res">reset 6</button>
       <button class="res" id="reset">reset 7</button>
       <button class="res">reset 8</button>
       

    </body>
</html>
